<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ForBGPB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <ForBGPB.Properties.Settings>
            <setting name="LastUpdateMessange" serializeAs="String">
                <value>Последний раз список файлов обвноялся {0} секунд назад</value>
            </setting>
            <setting name="TimeUpdate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsNumberLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormName" serializeAs="String">
                <value>Smile</value>
            </setting>
            <setting name="BgBlockColor" serializeAs="String">
                <value>255, 255, 180</value>
            </setting>
            <setting name="WidthOneBlock" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="HeightOneBlock" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FilesPath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\TRI</string>
                        <string>c:\Users\Pavel_Lvou@epam.com\Documents\Visual Studio 2013\Projects\ForBGPB\ForBGPB\bin\Debug</string>
                        <string>d:\tfs\</string>
                        <string>d:\Lvov\</string>
                        <string>D:\</string>
                        <string>D:\TRI</string>
                        <string>D:\TRI2</string>
                        <string>D:\TRI</string>
                        <string>d:\LostFolder\</string>
                        <string>D:\TRI</string>
                        <string>D:\TRI2</string>
                        <string>d:\tfs\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>Папка {0} не найдена. Возможно в пути ошибка</value>
            </setting>
            <setting name="SortType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SortDirect" serializeAs="String">
                <value>1</value>
            </setting>
        </ForBGPB.Properties.Settings>
    </applicationSettings>
</configuration>
